body{
  background-color: slategrey;
}
h1, h2, h4 {
    color: goldenrod;
    font-family: Verdana, sans-serif;
    font-style: oblique;
}

h3, p {
    color: goldenrod;
    font-family: Verdana, sans-serif;
    font-style: oblique;
    align-items: center;
 
  }

button.login-button {
  font-family: Verdana, sans-serif;
  font-style: oblique;
  border-radius : 8px;
  padding: 8px;
  background-color: goldenrod;
  color: whitesmoke;

}

button.bttn {
    font-family: Verdana, sans-serif;
    font-style: oblique;
    left: 150px;
    border-radius : 8px;
    padding: 10px;
    background-color: goldenrod;
    color: whitesmoke;
  
  }

.grid-item{
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* Check eye by Omar Safaa from <a href="https://thenounproject.com/browse/icons/term/check-eye/" target="_blank" title="Check eye Icons">Noun Project</a> (CC BY 3.0) */
/* Favorite by Poeticons from <a href="https://thenounproject.com/browse/icons/term/favorite/" target="_blank" title="Favorite Icons">Noun Project</a> (CC BY 3.0) */


img.favorited-movie{
position: absolute;
top: 60px;
left: 215px;

}

img.watched-movie{
position: absolute;
top: 97px;
left: 215px;

}

img.favorited-movie-grid{
  position: relative;
  top: -42px;
  left: 0px;
  
  }
  
img.watched-movie-grid{
  position: relative;
  top: -15px;
  left: -29px;
  
  }

a#title-detail{
 color: goldenrod; 
 font-family: Trebuchet MS, sans-serif;
 position:relative;
 top: -25px;
 left: -22px;

}

button#rec{
position: absolute;
top: 235px;
left: 215px;
border-radius : 8px;
padding: 10px;
background-color: goldenrod;
color: whitesmoke;
font-family: Verdana, sans-serif;
font-style: oblique;
}