body{
  background-color: black;
}
h1 {
    color: goldenrod;
    font-family: Verdana, sans-serif;
    font-style: oblique;
}

h3, p {
    color: goldenrod;
    font-family: Verdana, sans-serif;
    font-style: oblique;
    align-items: center;
 
  }
 
button.bttn {
    font-family: Verdana, sans-serif;
    font-style: oblique;
    left: 150px;
    border-radius : 8px;
    padding: 10px;
    background-color: goldenrod;
    color: whitesmoke;
  
  }

.grid-item{
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
/* button#catalog {
    font-family: Verdana, sans-serif;
    position: absolute;
    bottom: 95px;
    font-style: oblique;
    border-radius : 8px;
    padding: 10px;
    color: whitesmoke;
    background-color: goldenrod;
  } */
  
  /* input#fruit {
    color: white;
    font-size: medium;
  }
  
  .search-container {
    color: whitesmoke;
    
  }
  .search-container input,
  .search-container .suggestions {
    font-size: small;
    color: whitesmoke;
    position :relative;
    top: 350px;
    left: 500px;
    
    
  }
  .search-container input {
    background: linear-gradient(to right, forestgreen , teal, aqua);
    color: white;
    font-size: medium;
  }
  /* .search-container .suggestions {
  
  } 
  
  option {
    background-color: darkcyan;
    color: whitesmoke;
  }
  #fruit {
    color: whitesmoke;
  }
 
  
  input[placeholder]{
     color:whitesmoke;
  }
 */
