<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  src="static/icon-listing.js"></script>
<link rel = "stylesheet" href="static/style.css" type="text/css">

</head>

{%for movie in movie_details%}

<h3>{{movie.title}}</h3>
<img class= "poster" src="https://image.tmdb.org/t/p/original/{{movie.image}}" width="200" height="275">
<img class="favorited-movie" src="../static/images/favorited.png" height="40" width="40">
<img class= "watched-movie" src="../static/images/check-eye.png" height= "40" width="40">
<h3>Synopsis : {{movie.summary}}</h3>
<h3>{{movie.genre1}} / {{movie.genre2}}</h3>


<h3>Popularity Rating: {{movie.popularity}}</h3>



<form class = "recommend-movie" action="/recommendation/{{movie.id}}"><button id="rec">Show me MGDB recommends,</button>
</form>
{%endfor%}
<h3><a href="/intro">Start Over</a></h3>