<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Recommender</title>


<link rel = "stylesheet" href="static/style.css" type="text/css">

</head>

<body class="movie-details-page">
{%for movie in movie_details%}
<h3 class= 'movie' id="{{movie.id}}">{{movie.title}}</h3>
<div class="movie-details-main-col">
<div class="movie-details-poster-wrap">
  <img class="poster" src="https://image.tmdb.org/t/p/original/{{ movie.image }}" width="160" height="220" alt="">
  <div class="movie-details-icon-row" aria-label="Favorite and watched">
    <img class="favorited-movie" src="../static/images/unliked.png" width="40" height="40" alt="Favorite">
    <img class="watched-movie" src="../static/images/check-eye.png" width="40" height="40" alt="Watched">
  </div>
</div>

<form id="rec-ele" class="recommend-movie" action="/recommendation/{{movie.id}}" onsubmit="return false;">
  <button type="button" onclick="startTask(this, {{movie.id}})" id="rec">MGDB recommend</button>
  <div id="prog" style="margin-top: 12px;">
    <div class="prog-fill-track">
      <div id="bar"></div>
    </div>
    <span id="prog-pct-label" class="prog-pct-label">0%</span>
  </div>
</form>
</div>

<div><a href="/favorited-watched">SHOW FAVORITED/WATCHED MOVIES</a></div>

<h3>{{movie.genre1}} / {{movie.genre2}}</h3>
<h3>Synopsis: {{movie.summary}}</h3>
<h3>Popularity Rating: {{movie.popularity}}</h3>



{%endfor%}
<h3><a href="/intro">Start Over</a></h3>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/script.js"></script>
<script src="../static/bar.js"></script>
</body>
</html>