<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
<script  src="static/script.js"></script>
<link rel = "stylesheet" href="static/style.css" type="text/css">
<script src='static/icon-listing.js'></script>
</head>


<h3>HERE ARE YOUR SEARCH RESULTS:</h3>

<body>
<div class="grid-container"></div>    
{%for movie in list_of_movies%}
<div class="grid-item"><img class= "poster" src="https://image.tmdb.org/t/p/original/{{movie.image}}" width="70" height="75">
<img class="favorited-movie-grid" src="../static/images/favorited.png" height="25" width="25">
<img class= "watched-movie-grid" src="../static/images/check-eye.png" height= "25" width="25"> 
<a id="title-detail" href="/{{movie.id}}">{{movie.title}}</a>
</div>

{%endfor%}
</body>

<p><h3><a href="/intro">Start Over</a></h3></p>
